In [1]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.2.1 --

v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [7]:
adult_census <- read.csv('https://raw.githubusercontent.com/chrisp-6/stat301_project/main/adult.csv')
head(adult_census)

# data from https://www.kaggle.com/datasets/uciml/adult-census-income, downloaded locally first and added to github

  age workclass fnlwgt education    education.num marital.status
1 90  ?          77053 HS-grad       9            Widowed
2 82  Private   132870 HS-grad       9            Widowed
3 66  ?         186061 Some-college 10            Widowed
4 54  Private   140359 7th-8th       4            Divorced
5 41  Private   264663 Some-college 10            Separated
6 34  Private   216864 HS-grad       9            Divorced
  occupation        relationship  race  sex    capital.gain capital.loss
1 ?                 Not-in-family White Female 0            4356
2 Exec-managerial   Not-in-family White Female 0            4356
3 ?                 Unmarried     Black Female 0            4356
4 Machine-op-inspct Unmarried     White Female 0            3900
5 Prof-specialty    Own-child     White Female 0            3900
6 Other-service     Unmarried     White Female 0            3770
  hours.per.week native.country income
1 40             United-States  <=50K
2 18             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             United-States  <=50K
6 45             United-States  <=50K